<?xml version="1.0" encoding="utf-8" ?>
<BotConfig>
  <PythonPath >C:\Users\Mike\AppData\Local\Programs\Python\Python37-32</PythonPath>
  <Controller GUID="Default">
    <StartOfFrame type="absolute" enable="true"></StartOfFrame>
    <StartOfFrame type="relative" enable="true"></StartOfFrame>
    <OutputChannels>
      <Channel param="CH1" enable="true" default="1000" precision="0000" min="1000" max="2000" map="-8" persist="true" accum="false" gain="0.1"></Channel>
      <Channel param="CH2" enable="true" default="1500" precision="0000" min="1000" max="2000" map="6" gain="0.025"></Channel>
      <Channel param="CH3" enable="true" default="1500" precision="0000" min="1000" max="2000" map="-7" gain="0.025"></Channel>
      <Channel param="CH4" enable="true" default="1500" precision="0000" min="1000" max="2000" map="0" gain="0.025"></Channel>
      <Channel param="CH5" enable="true" default="1500" precision="0000" min="1000" max="2000" map="1" gain="0.025"></Channel>
    </OutputChannels>
    <ChannelSeparator>,</ChannelSeparator>
    <StopCommand enable="true">1000,1500,1500,1500;</StopCommand>
  </Controller>
  <!--TODO: Update configuration to save specific configs for specific controllers -->
</BotConfig>
